<app-navbar [navDark]="true"/>
 <!-- Start -->
 <section class="section mt-5 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="sticky-bar">
                    <img [src]="data?.image ? data.image : 'assets/images/nft/1.jpg'" class="img-fluid rounded shadow" alt="">
                </div>
            </div>

            <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="title-heading">
                    <h4 class="h3 mb-0">{{data?.title ? data.title : 'Deep Sea Phantasy'}}</h4>
                </div>

                <div class="row">
                    <div class="col-12 mt-4">
                        <a [routerLink]="'/nft-detail'" class="btn btn-sm btn-primary me-1"><i data-feather="shopping-cart" class="fea icon-sm align-middle me-1"></i> Explore Now</a>
                    </div>
                </div>

                <p class="text-muted mt-4">{{data?.detail}}</p>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->


 <app-scroll-to-top/>
