<div class="row">
    <div *ngFor="let item of AgentsData | slice:4:8" class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="nft-item nft-collection rounded shadow position-relative overflow-hidden">
            <div class="nft-image">
                <img [src]="item.image" class="img-fluid" alt="">
            </div>

            <div class="position-absolute bottom-0 start-0 end-0 bg-white p-4">
                <div class="position-absolute top-0 start-50 translate-middle">
                    <img [src]="item.user" class="avatar avatar-small rounded-pill img-thumbnail shadow-md" alt="">
                </div>

                <div class="mt-4 text-center">
                    <a [routerLink]="'/nft-explore'" class="text-dark link-title h5">{{item.subtitle}}</a>
                    
                    <p class="text-muted mb-0 small">27 Items</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->