 <!-- Start Hero -->
 <section class="bg-half-170 overflow-hidden" id="home">
    <span class="modern-app-round position-absolute top-50 start-50 translate-middle"></span>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="title-heading">
                    <h1 class="heading mb-3">Discover and Utilize <span class="text-gradient-primary">extraordinary</span> AI <span class="text-gradient-primary">Agents</span></h1>
                    <p class="para-desc text-muted">Welcome to the future, you can use awesome agents form here. The world largest digital marketplace for AI Agents.</p>
                    <div class="mt-4 pt-2">
                        <a href="nft-explore.html" class="btn btn-primary me-1"><i class="mdi mdi-camera-outline align-middle"></i> Explore</a>
                        <a href="" class="btn btn-soft-primary">Use <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="position-relative">
                    <div class="tiny-single-item">
                        <div *ngFor="let item of nftData | slice:6:9" class="tiny-slide">
                            <div class="m-2">
                                <div class="nft-item p-4 rounded shadow bg-white">
                                    <div class="position-relative">
                                        <div class="nft-image position-relative overflow-hidden rounded shadow">
                                            <img [src]="item.image" class="img-fluid" alt="">
                                            <div class="bg-overlay bg-black"></div>
                                            <div class="bid-button position-absolute top-50 translate-y-middle start-0 end-0 text-center">
                                                <a [routerLink]="['/nft-detail', item.id]" class="btn btn-sm btn-primary me-1"><i data-feather="shopping-cart" class="fea icon-sm align-middle me-1"></i> Buy Now</a>
                                                <a [routerLink]="['/nft-detail', item.id]" class="btn btn-sm btn-primary"><i data-feather="zap" class="fea icon-sm align-middle me-1"></i> Bid Now</a>
                                            </div>
                                        </div>

                                        <div class="position-absolute top-0 start-0 m-3">
                                            <a [routerLink]="['/creator-profile', item.id]"><img [src]="item.user" class="avatar avatar-md-sm rounded-pill shadow img-thumbnail" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="content pt-4 position-relative">
                                        <a [routerLink]="['/nft-detail', item.id]" class="text-dark link-title h6">{{item.title}}</a>

                                        <div class="d-flex justify-content-between mt-2">
                                            <span class="rate text-primary">20.5 ETH</span>
                                            <span class="text-dark">1 out of 12 items</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="position-absolute top-0 start-0 translate-middle z-n1">
                        <p class="avatar avatar-small bg-gradient-primary rounded mb-0 spin-anything" style="opacity: 0.1;"></p>
                    </div>

                    <div class="position-absolute top-100 start-100 translate-middle z-n1">
                        <p class="avatar avatar-small bg-gradient-primary rounded-pill mb-0 zoom-in-out" style="opacity: 0.1;"></p>
                    </div>
                </div>
            </div><!--end col-->
        </div>
    </div>
</section>
<!-- End Hero -->
